[submodule "project_ios_cocoapods"]
	path = project_ios_cocoapods
	url = https://github.com/nimbl3/project_ios_cocoapods.git
[submodule "project_ios_gitsubmodule"]
	path = project_ios_gitsubmodule
	url = https://github.com/nimbl3/project_ios_gitsubmodule.git
[submodule "project_ios_carthage"]
	path = project_ios_carthage
	url = https://github.com/nimbl3/project_ios_carthage.git
